@charset "UTF-8";
/* CSS Document */

/* Link Defaults */
a:link, a:visited{
	text-decoration: none;
    color: #f2f2f2;
}

a:hover, a:active {
    text-decoration: underline;
	color: #f2f2f2;
}
 

/* Navigation */
.navigation{
	position: fixed;
	top: -5px;
	left: -5px;
	width: 100%;
	height: 40px;
	padding: 3px;
	background-color: #009246;
	color: #f2f2f2;
	font-family: Arial;
	vertical-align: bottom;
    z-index: 8888;
}

#navtext{
	margin-top: 0px;
	right: 100px;
	text-align: right;
	padding-right: 100px;
	vertical-align: middle;
}

.social{
	vertical-align: middle;
	z-index: inherit;
	position: relative;
	left: 200px;
	top: -50px;
}

.social li{
	list-style: none;
	display: inline-block;
	margin-left: 20px;
}

.navList{
	float: right;
}

.navList li{
	list-style: none;
	display: inline;
	margin: -2px;
	padding: 20px;
}

#phone{
	float:left;
	margin-left: 10%;
	margin-top: -10px;
}
/* End Navigation */

/** Left Side Bar**/
#logo{
    position:absolute;
	width: 30%;
	float: left;
	text-align: center;
	font-family: Arial;
	color: #f2f2f2;
	align-content: center;
    z-index: 88;
}

#logoText{
	position: relative;
	top: -70px;

}

#sidebar{
	background-image: url(../Images/bricks800.jpg);
    width: 30%;
    height: 1000px;
    float:left;
    font-family: Arial;
    z-index: 3;
	opacity: 0.6;
	color: #ce2b37;
	font-weight: 600;
}

.delivery li{
	list-style: none;
	display: inline;
}

.delivery{
	position: relative;
	left: -25px;
}

#sidebarText{
	margin-top: 50%;
	margin-left:5%;
	margin-right: 5%;
	margin-bottom: 5%;
}

/* Main Window Right */
#main{
    height: 1080px;
    width: 100%;
    margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	top: 40px;
    z-index: 1;
}

#mainContent{
  
	background: url(../Images/pepperoni-2571392.jpg);
    width: 70%;
    height: 1000px;
    float: left;
    font-family: Arial;
    z-index: 4;
}

.mainText{
	margin: 5%;
    color: #009246;
    background-color: rgba(240,240,237,0.8);
    opacity: 0.9;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.mainText p{
    text-align: justify;
    font-size: 20px;
}
.mainText h1{
    text-align: center;
    font-size: 40px;
}

/** Footer **/
#footer{
	width: 100%;
    height: 30px;
    background-color: #ce2b37;
    color: #f2f2f2;
	font-family: Arial;
    text-align: center;
    vertical-align: middle;
    z-index: 9999; 
    position: fixed;
    bottom: -5px;
}
.footerTxt{
    position: relative;
    bottom: 12px;
}
